In [1]:
import pandas as pd
import warnings

## Import file dataset

In [2]:
dataset = pd.read_csv(r'C:\Users\guidi\Desktop\universita\Big Data\project1\dataset\dataset_old.csv', sep=',', dtype={'id': int, 'product_id': 'str', 'user_id': 'str', 'profile_name': 'str', 'help_fulness_numerator': int, 'help_fulness_denominator': int, 'score': int, 'time': 'str', 'summary': 'str', 'text': 'str'})

In [3]:
df = pd.DataFrame(dataset, columns = ['id', 'product_id', 'user_id', 'profile_name', 'help_fulness_numerator', 'help_fulness_denominator', 'score', 'time', 'summary', 'text'])

In [4]:
dataset.head(5)

,id,product_id,user_id,profile_name,help_fulness_numerator,help_fulness_denominator,score,time,summary,text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

## Check for null values

#### Total number null values

In [5]:
dataset.isnull().sum().sum()

43

#### Number of null values for each column

In [6]:
dataset.isnull().sum()

id                           0
product_id                   0
user_id                      0
profile_name                16
help_fulness_numerator       0
help_fulness_denominator     0
score                        0
time                         0
summary                     27
text                         0
dtype: int64

## Delete columns with null values

In [7]:
dataset.drop(['profile_name'], axis=1, inplace=True)
dataset.drop(['summary'], axis=1, inplace=True)

In [8]:
dataset.head(5)

,id,product_id,user_id,help_fulness_numerator,help_fulness_denominator,score,time,text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,1,1,5,1303862400,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,0,0,1,1346976000,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,1,1,4,1219017600,This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,3,3,2,1307923200,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,0,0,5,1350777600,Great taffy at a great price. There was a wid...

## Found element duplicate and deleted element duplicate

#### found and count element duplicates

In [9]:
duplicate = dataset.duplicated(subset=['product_id', 'user_id'])

#### Number of duplicates

In [10]:
len(duplicate)

568454

#### Deleted duplicates

In [11]:
dataset_new = dataset.drop_duplicates(subset=['product_id', 'user_id'])

#### Number of value before and then

In [12]:
len(dataset)

568454

In [13]:
len(dataset_new)

560804

In [14]:
warnings.filterwarnings('ignore')
dataset_new.drop(['id'], axis=1, inplace=True)
dataset_new

,product_id,user_id,help_fulness_numerator,help_fulness_denominator,score,time,text
0,B001E4KFG0,A3SGXH7AUHU8GW,1,1,5,1303862400,I have bought several of the Vitality canned d...
1,B00813GRG4,A1D87F6ZCVE5NK,0,0,1,1346976000,Product arrived labeled as Jumbo Salted Peanut...
2,B000LQOCH0,ABXLMWJIXXAIN,1,1,4,1219017600,This is a confection that has been around a fe...
3,B000UA0QIQ,A395BORC6FGVXV,3,3,2,1307923200,If you are looking for the secret ingredient i...
4,B006K2ZZ7K,A1UQRSCLF8GW1T,0,0,5,1350777600,Great taffy at a great price. There was a wid...
...,...,...,...,...,...,...,...
568449,B001EO7N10,A28KG5XORO54AY,0,0,5,1299628800,Great for sesame chicken..this is a good if no...
568450,B003S1WTCU,A3I8AFVPEE8KI5,0,0,2,1331251200,I'm disappointed with the flavor. The chocolat...
568451,B004I613EE,A121AA1GQV751Z,2,2,5,1329782400,"These stars are small, so you can give 10-15 o..."
568452,B004I613EE,A3IBEVCTXKNOH,1,1,5,1331596800,These are the BEST treats for training and rew...
568453,B001LR2CU2,A3LGQPJCZVL9UC,0,0,5,1338422400,"I am very satisfied ,product is as advertised,..."

In [17]:
dataset_new.insert(0, 'id', range(1, 1 + len(dataset_new)))
dataset_new

,id,product_id,user_id,help_fulness_numerator,help_fulness_denominator,score,time,text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,1,1,5,1303862400,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,0,0,1,1346976000,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,1,1,4,1219017600,This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,3,3,2,1307923200,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,0,0,5,1350777600,Great taffy at a great price. There was a wid...
...,...,...,...,...,...,...,...,...
568449,560800,B001EO7N10,A28KG5XORO54AY,0,0,5,1299628800,Great for sesame chicken..this is a good if no...
568450,560801,B003S1WTCU,A3I8AFVPEE8KI5,0,0,2,1331251200,I'm disappointed with the flavor. The chocolat...
568451,560802,B004I613EE,A121AA1GQV751Z,2,2,5,1329782400,"These stars are small, so you can give 10-15 o..."
568452,560803,B004I613EE,A3IBEVCTXKNOH,1,1,5,1331596800,These are the BEST treats for training and rew...
568453,560804,B001LR2CU2,A3LGQPJCZVL9UC,0,0,5,1338422400,"I am very satisfied ,product is as advertised,..."

## Create a new dataset

In [18]:
dataset_new.to_csv(r'../dataset/dataset_clean.csv', index=False)