In [1]:
import pandas as pd
import warnings

## Reading of dataset

In [2]:
dataset = pd.read_csv(r'..\dataset\dataset_clean.csv', sep=',', dtype={'id': int, 'product_id': 'str', 'user_id': 'str', 'help_fulness_numerator': int, 'help_fulness_denominator': int, 'score': int, 'time': 'str', 'text': 'str'})

In [10]:
dataset.tail(5)

,id,product_id,user_id,help_fulness_numerator,help_fulness_denominator,score,time,text
560799,560800,B001EO7N10,A28KG5XORO54AY,0,0,5,1299628800,Great for sesame chicken..this is a good if no...
560800,560801,B003S1WTCU,A3I8AFVPEE8KI5,0,0,2,1331251200,I'm disappointed with the flavor. The chocolat...
560801,560802,B004I613EE,A121AA1GQV751Z,2,2,5,1329782400,"These stars are small, so you can give 10-15 o..."
560802,560803,B004I613EE,A3IBEVCTXKNOH,1,1,5,1331596800,These are the BEST treats for training and rew...
560803,560804,B001LR2CU2,A3LGQPJCZVL9UC,0,0,5,1338422400,"I am very satisfied ,product is as advertised,..."

In [16]:
len(dataset)

560804

## Create of doble dimantional dataset

In [7]:
dataset2 = dataset.copy()
dataset2['product_id'] = dataset2['product_id'] + '5'

In [8]:
dataset2.head(10)

,id,product_id,user_id,help_fulness_numerator,help_fulness_denominator,score,time,text
0,1,B001E4KFG05,A3SGXH7AUHU8GW,1,1,5,1303862400,I have bought several of the Vitality canned d...
1,2,B00813GRG45,A1D87F6ZCVE5NK,0,0,1,1346976000,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH05,ABXLMWJIXXAIN,1,1,4,1219017600,This is a confection that has been around a fe...
3,4,B000UA0QIQ5,A395BORC6FGVXV,3,3,2,1307923200,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K5,A1UQRSCLF8GW1T,0,0,5,1350777600,Great taffy at a great price. There was a wid...
5,6,B006K2ZZ7K5,ADT0SRK1MGOEU,0,0,4,1342051200,I got a wild hair for taffy and ordered this f...
6,7,B006K2ZZ7K5,A1SP2KVKFXXRU1,0,0,5,1340150400,This saltwater taffy had great flavors and was...
7,8,B006K2ZZ7K5,A3JRGQVEQN31IQ,0,0,5,1336003200,This taffy is so good. It is very soft and ch...
8,9,B000E7L2R45,A1MZYO9TZK0BBI,1,1,5,1322006400,Right now I'm mostly just sprouting this so my...
9,10,B00171APVA5,A21BT40VZCCYT4,0,0,5,1351209600,This is a very healthy dog food. Good for thei...

In [9]:
dataset_final_two_dimension = pd.concat([dataset, dataset2])
dataset_final_two_dimension.tail()

,id,product_id,user_id,help_fulness_numerator,help_fulness_denominator,score,time,text
560799,560800,B001EO7N105,A28KG5XORO54AY,0,0,5,1299628800,Great for sesame chicken..this is a good if no...
560800,560801,B003S1WTCU5,A3I8AFVPEE8KI5,0,0,2,1331251200,I'm disappointed with the flavor. The chocolat...
560801,560802,B004I613EE5,A121AA1GQV751Z,2,2,5,1329782400,"These stars are small, so you can give 10-15 o..."
560802,560803,B004I613EE5,A3IBEVCTXKNOH,1,1,5,1331596800,These are the BEST treats for training and rew...
560803,560804,B001LR2CU25,A3LGQPJCZVL9UC,0,0,5,1338422400,"I am very satisfied ,product is as advertised,..."

In [15]:
len(dataset_final_two_dimension)

1121608

## Create dataset og 3/4 dimensional

In [14]:
dataset_final_3_4_dimension = dataset_final_two_dimension.copy()
dataset_final_3_4_dimension = dataset_final_3_4_dimension.iloc[:-280403]
len(dataset_final_3_4_dimension)

841205

## Create a new datasets

In [11]:
dataset_final_two_dimension.to_csv(r'..\dataset\dataset_doble_dimentional.csv', index=False)

In [17]:
dataset_final_3_4_dimension.to_csv(r'..\dataset\dataset_3_4_dimentional.csv', index=False)